@model IEnumerable<PetStore.Models.Pet>
@{
    ViewBag.Title = "PetByPetId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*/Pets/Details*@
<h2>List of Pets</h2>
@foreach (var pet in Model)
{
    <p><strong>Name:</strong> @pet.Name <button class="DetailsButton">View Details</button><br /><strong>Age:</strong> @pet.Age</p>
}