@model IEnumerable<PetStore.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*User/Details*@
<h2>Customers</h2>

@foreach (var user in Model)
{
    <li><strong>Name: @user.Name</strong><br />Favorite Pet: @user.PetPref<br />Contact Method: @user.ContactInfo</li>
}