@model IEnumerable<PetStore.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*url??*@
<h2>Customers</h2>
@foreach (var user in Model)
{
<ul>Name: @user.Name    Favorite Pet: @user.PetPref    Contact Method: @user.ContactInfo</ul>
}